

body{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: #908e8e;
}

.header{
  position:relative;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #c3bbb9;
  font-size: 1.5vw;
  display: block;
}

.navbar{
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.logo{
  display: flex;
  justify-content: center;
  width: 33.333%;
  height: 100%;
}

.phone-wrapper{
  display: none;
  width: 100%;
}

.phone-header{
  position:relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #c3bbb9;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.phone-logo{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.hamburger{
  display: block;
  position: relative;
}


.logo div{
  display: block;
  margin: auto;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 60%;
}

.phone-counter{
  width: 20%;
  height: 100%;
}

.phone-logo div{
  display: block;
  margin: auto;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 60%;
}

.navbar ul{
  width: 33.333%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: stretch;
  margin: 0px;
  padding: 0px;
}

.left-ul li{
  width: 33.333%;
  height: 100%;
  border-right: 1px solid #c3bbb9;
  text-align: center;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-ul li{
  width: 33.333%;
  height: 100%;
  border-left: 1px solid #c3bbb9;
  text-align: center;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.DopMenu{
  position: relative;
  margin: auto;
  width: 82%;
  border-bottom: 1px solid #c3bbb9;
  display: flex;
  top: 1px;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  font-family: 'Vollkorn', serif;
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
  z-index: 1;
}


.PhoneDopMenu{
  position:absolute;
  width: 100%;
  height: calc(100vh - 60px);
  border: 1px solid #c3bbb9;
  overflow-y: scroll;
  display: block;
  background-color: #ffffff;
  transition: all .25s;
  z-index: 2;
  border: none;
}


.DopMenu div{
  position: relative;
  font-size: 18px;
}

.DopMenu h4{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  border-bottom: 1px solid #c3bbb9;
}

.DopMenu ul{
  list-style: none;
  padding-left: 10px;
}

.DopMenu li{
  cursor:pointer;
  position: relative;
  margin-bottom: 10px;
  list-style: none;
}

.default-link-div{
  border-right: 1px solid #c3bbb9;
}

.description-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 2vh;
  justify-content: center;
}

.description{
  position: relative;
  width: 90vw;
  height: 90vh;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  align-content: center;
  color: rgb(255, 255, 255);
  background-image: url('https://manage.teakandtwine.com/storage/images/30047/a0daa0624189d700ad991293006279c0.png');
}

.description h4,.description h2{
 padding-left: 2vw;
  font-family: 'Bree Serif', serif;
  margin-bottom: 0px;
  margin-top: 7vh;
  padding-bottom: 0px;
  font-size: 5vh;
}

.description h2{
  padding-top: 0px;
  margin-top:  0px;
  font-size: 6vh;
}



.search{
  color: #908e8e;
  font-size: 20px;
  width: 100%;
  height: 30px;
  background-color: #f2eeeb;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.search-inpt{
  border: none;
  background: transparent;
  font-size: 28px;
  text-align: center;
  position: relative;
  z-index: 5;
  outline: none;
  width: auto;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.search img{
  display: inline-block;
    vertical-align: middle;
    width: 25px;
    opacity: .5;
}

.search span{
  font-size: 24px;
    text-align: center;
    margin-right: .5em;
    opacity: .5;
}

.search-btn{
  position: absolute;
    top: 6px;
    left: calc(50% - 55px);
    height: 40px;
    width: auto;
    border: none;
    background: transparent;
    z-index: 1;
    transition: all .25s;
    outline: none;
}


.search-btn-active{
  position: absolute;
  transform: translate(25vw, 0px);
  top: 6px;
  left: calc(50% - 55px);
    height: 40px;
    width: auto;
    border: none;
    background: transparent;
    z-index: 1;
    transition: all .25s;
    outline: none;
    color: transparent;
}

.headers{
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border-top: 1px solid #c3bbb9;
  border-bottom: 1px solid #c3bbb9;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.phone-links{
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 10px;
}


.slogans{
  position: relative;
  width: 100vw;
  height: 50vh;
  background-color: rgb(245, 245, 245);
  margin: auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 80vw;
  height: 70%;
  border: 1px solid #c3bbb9;
  background-size: 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat:no-repeat;
  padding-top: 7vh;
  z-index: 1;
  font-size: 5vh;
  text-align: center;
}

.content a{
  position: relative;
  font-family: 'Brygada 1918', serif;
}

.a-btn{
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  line-height: 6vh;
  font-size: 2vh;
  margin-top: 5vh;
  border: 0.2vw solid #c3bbb9;
  border-radius: 4vw;
  background-color: rgb(136, 136, 136);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 6vh;
}

.a-btn:hover{
  background-color: rgb(145, 145, 145);
}

.ending{
  color: rgb(0, 0, 0);
}

.ways{
  font-family: 'Brygada 1918', serif;
  text-align: center;
  display: block;
  margin-bottom: 150px;
}

.ways-text h4{
  font-size: 20px;
}

.ways-text h2{
  font-size: 40px;
  position: relative;
  top: -30px;
}

.types{
  position: relative;
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.types img{
  margin-bottom: 40px;
}


.a-discription{
  display: block;
  margin: auto;
  position: relative;
  width: 90%;
}

.download-wrapper{
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  height: 300px;
  top: 40px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-family: 'Brygada 1918', serif;
  font-size: 18px;
}

.download-wrapper h2{
  position: relative;
  padding-top: 50px;
  font-size: 50px;
}

.line{
  position: relative;
  top: -10px;
  width: 5%;
}

.a-description{
  position: relative;
  padding-top: 50px;

}


.a-btn2{
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 17px;
  border: 1px solid #c3bbb9;
  border-radius: 35px;
  background-color: rgb(136, 136, 136);
  color: rgb(255, 255, 255);
  width: 400px;
  height: 34px;
}

.a-btn2:hover{
  background-color: rgb(145, 145, 145);
}

.popular-wrapper{
  position: relative;
  top: 90px;
  width: 100%;
  height: 620px;
  margin-bottom: 300px;
  text-align: center;
}

.popular-wrapper a{
  font-family: 'Brygada 1918', serif;
  font-size: 50px;
}

.box-wrapper{
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  top: 60px;
  width: 80%;
  height: 100%;
  font-family: 'Brygada 1918', serif;
  font-size: 26px;
}
.box-wrapper div{
  width: 50%;
  height: 100%;
}

.box-wrapper img{
  position: relative;
  top: 40px;
  margin-bottom: 60px;
}

.box-wrapper a{
  margin-top: 10px;
  font-size: 20px;
}

.footer{
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgb(245, 245, 245);
  display: flex;
  z-index: 0;
}

.footer-wrapper{
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
  height: 80%;
}

.footer-links{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 95%;
  height: 10%;
}

.footer-links img{
  position: relative;
  margin-left: 30px;
}

.footer-contacts{
  position: relative;
  top: 20px;
  width: 100%;
  height: 85%;
  border-bottom: 1px solid #c3bbb9;
  border-top: 1px solid #c3bbb9;
  display: flex;
  justify-content:left;
  font-family: 'Brygada 1918', serif;
}

.left-contacts{
  position: relative;
  width: 40%;
  height: 100%;
  border-right: 1px solid #c3bbb9;
}

.footer-contacts h2{
  margin-top: 5px;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: 1px solid #c3bbb9;
  height: 9%;
}

.right-contacts{
  position: relative;
  width: 60%;
  height: 100%;
}

.right-contacts h2{
  position: relative;
  margin-bottom: 0px;
  height: 9%;
}

.left-contacts div{
  position: relative;
  display: flex;
  margin-left:-40px;
  justify-content: space-between;
  width: 90%;
}

.left-contacts ul{
  list-style: none;
}

.right-contacts a{
  position: relative;
  display: block;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

.right-contacts div{
  position: relative;
  width: 100%;
  height: 88%;
}


.form{
  position: relative;
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 500px;
  height: 40px;
  text-align: center;
}

.form input{
    display: inline-block;
    padding: 10px 60px;
    background: transparent;
    outline: none;
    border: none;
    border-right: 1px solid rgb(145, 145, 145);
    border-bottom: 1px solid rgb(145, 145, 145);
    font-size: 14px;
    font-family: 'Brygada 1918', serif;
}

.form button{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    font-size: 14px;
    font-family: 'Brygada 1918', serif;
}

.rights{
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.boxes-wrapper{
  font-family: 'Brygada 1918', serif;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
}

.customize-text{
  position: relative;
  text-align: center;
  font-family: 'Brygada 1918', serif;
}

.customize-text h1{
  font-size: 20px;
  margin-top: 40px;
}

.customize-text a{
  display: block;
  margin-bottom: 20px;
}

.customize-big-text{
  font-size: 60px;
  margin-bottom: 30px;
}

.customize-long-text{
  position: relative;
  margin: auto;
  width: 700px;
}

.unique-box-wrapper{
  font-family: 'Brygada 1918', serif;
  width: 100%;
}

.unique-top-text{
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: black;
}

.unique-top-text-a{
  color: black;
  padding-top: 35px;
  font-size: 40px;
  width: 60%;
  display: block;
}

.unique-top-text div{
  margin-top: 0px;
  height: 100%;
  border-left: 1px solid rgb(224, 224, 224);
  width: 20%;
  display: block;
}
.unique-top-text h2{
  color: black;
  font-size: 18px;
  display: block;
  margin-top: 55px;
}

.unique-customize{
  margin: auto;
  width: 80%;
  height: 300px;
  display: flex;
  height: 900px;
}

.unique-customize-left{
  width: 60%;
  height: 100%;
}

.unique-customize-right{
  width: 40%;
  height: 100%;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(255, 255, 255);
  text-align: center;
  display: block;
}

.unique-customize-left-menu{
  display: flex;
  justify-content: space-between;
}

.unique-customize-left-menu div{
  text-align: center;
  align-items: center;
  height: 80px;
}

.unique-customize-left-menu-prise{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 25%;
}

.unique-customize-left-menu-qty{
  display: block;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 25%;
}

.unique-customize-left-menu-btn{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  width: 50%;
}

.unique-customize-left-menu-btn a{
  margin-top: 20px;
}
.unique-customize-left-menu-qty div{
  display: flex;
  justify-content: center;
}

.unique-customize-left-menu-img{
  width: 100%;
}

.unique-customize-left-menu-img{
  width: 100%;
  height: 600px;
  margin-bottom: 160px;
}

.unique-customize-left-menu-img img{
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 95%;
}
.unique-customize-left-menu-img-list{
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.unique-customize-left-menu-img-list a{
  cursor: pointer;
  width: 20%;
}

.unique-customize-left-menu-img-list img{
  width: 100%;
}

.unique-customize-left hr{
  margin-bottom: -30px;
  height: 1px;
  border: 0;
  width: 80%;
  background-color: rgb(224, 224, 224);
}

.unique-customize-right div{
    width: 80%;
    display: block;
    margin: auto;
    text-align: left;
    justify-content: left;
}

.unique-customize-right a{
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.unique-customize-left-menu-qty a{
  display: flex;
  width: 6%;
}

.unique-customize-left-menu-qty img{
  
  width: 100%;
}

.first-slider-wrapper{
  position: relative;
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 805px;
  background-color:#f2eeeb;
}

.second-slider-wrapper{
  position: relative;
  display: flex;
  width: 100%;
  height: 800px;
  background-color:rgb(245, 245, 245);
}

.first-slider-wrapper-left{
  display: block;
  position: relative;
  margin-left: 190px;
  margin-top: 80px;
}

.first-slider-wrapper-right{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 80px;
  margin-left: 50px;
}


.slider{
  position: relative;
  width: 1050px;
  height: 80%;
  overflow-x: scroll;
  padding-top: 10px;
  display: flex;
  scroll-behavior: smooth;
}

.pagination{
  display: flex;
}

.shadow{
  opacity: 0.8;
  position: relative;
  left: 30px;
  width: 30px;
  height: 78%;
  z-index: 2;
}

.pagination img{
  display: inline-block;
  align-self: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.circle-left, .circle-right{
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-left{
  border-right: 1px solid rgb(182, 182, 182);
}

.text-bottom{
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}

.text-bottom a{
  display: block;
  width: 120px;
  
}

.text-bottom hr{
  width: 60px;
  border: .1px solid rgb(182, 182, 182);
  
}

/***********************/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: rgb(0, 0, 0); }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }



    /*******************************************************/
    
    
    @media screen and (max-width: 615px) {
      .wrapper{
        display: none;
      }
      .phone-wrapper{
        display: block;
      }
      .description h4{
        font-size: 5vh;
        margin-top: 7vh;
      }
      .description h2{
        font-size: 6vh;
      }
      .header{
        height: 10vh;
      }
      .description-wrapper{
        height: 50vh;
      }
      .slogans{
        height: 50vh;
      }
      .content{
        padding-top: 7vh;
        height: 30vh;
        font-size: 5vh;
      }
      .a-btn{
        line-height: 5vh;
        margin-top: 5vh;
        font-size: 1.5vw;
        width: 20vw;
        height: 5vh;
      }
    }
    
    @media screen and (min-width: 500px) and (max-width: 615px) {
      .description h4{
        font-size: 4vh;
        margin-top: 4vh;
      }
      .description h2{
        font-size: 5vh;
      }
      .header{
        height: 8vh;
      }
      .description-wrapper{
        height: 40vh;
      }
      .slogans{
        height: 40vh;
      }
      .content{
        padding-top: 5vh;
        height: 25vh;
        font-size: 3vh;
      }
      .a-btn{
        line-height: 4vh;
        font-size: 1.3vh;
        height: 4vh;
        margin-top: 4vh;
      }
    }
    
    @media screen and (min-width: 300px) and (max-width: 499px) {
    
      .description h4{
        font-size: 2vh;
        margin-top: 2vh;
      }
      .description h2{
        font-size: 3vh;
      }
      .header{
        height: 6vh;
      }
      .description-wrapper{
        height: 30vh;
      }
      .slogans{
        height: 30vh;
      }
      .content{
        padding-top: 5vh;
        height: 15vh;
        font-size: 2.5vh;
      }
      .a-btn{
        line-height: 3vh;
        font-size: 1vh;
        height: 3vh;
        margin-top: 3vh;
      }
    }
    
    @media screen and (min-width: 200px) and (max-width: 299px) {
    
      .description h4{
        font-size: 1.2vh;
        margin-top: 1.2vh;
      }
      .description h2{
        font-size: 1.8vh;
      }
      .header{
        height: 4vh;
      }
      .description-wrapper{
        height: 20vh;
      }
      .slogans{
        height: 20vh;
      }
      .content{
        padding-top: 3vh;
        height: 10vh;
        font-size: 1.5vh;
      }
      .a-btn{
        line-height: 2vh;
        font-size: 0.8vh;
        height: 2vh;
        margin-top: 2vh;
      }
    }
    
    @media screen and (min-width: 61px) and (max-width: 199px) {
    
      .description h4{
        font-size: 0.4vh;
        margin-top: 1vh;
      }
      .description h2{
        font-size: 0.7vh;
      }
      .header{
        height: 3vh;
      }
      .description-wrapper{
        height: 10vh;
      }
      .slogans{
        height: 10vh;
      }
      .content{
        padding-top: 1vh;
        height: 5vh;
        font-size: 1vh;
      }
      .a-btn{
        line-height: 1vh;
        font-size: 0.5vh;
        height: 1vh;
        margin-top: 0.5vh;
      }
    }
    
    @media screen and (min-width: 0px) and (max-width: 60px) {
    
      .description h4{
        font-size: 0.2vh;
        margin-top: 1vh;
      }
      .description h2{
        font-size: 0.5vh;
      }
      .header{
        height: 2vh;
      }
      .description-wrapper{
        height: 5vh;
      }
      .slogans{
        height: 5vh;
      }
      .content{
        font-size: 0.2vh;
        padding-top: 0.5vh;
        height: 2vh;
      }
      .a-btn{
        line-height: 0.5vh;
        font-size: 0.1vh;
        height: 0.5vh;
        margin-top: 0.5vh;
      }
    }
    


