

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sansita', sans-serif;
  color: #908e8e;
  font-size: 20px;
  z-index: 0;
}

a{
  text-decoration: none;
  color: #908e8e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c3bbb9;
  display: block;
}

.navbar{
  position: relative;
  width: 78%;
  height: 100%;
  margin: auto;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;
}

.navbar a{
  position: relative;
  display: flex;
  justify-content: center;
  width: 33.33333%;
}

.logo{
  position: relative;
  width: 80%;
}

.navbar ul{
  position: relative;
  width: 33.33333%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.navbar li{
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    height: 100%;
    padding: 0 10px;
    min-height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}

.leftUl li{
  border-right: 1px solid #c3bbb9;
}

.rightUl li{
  border-left: 1px solid #c3bbb9;
}


.DopMenu{
  position: relative;
  margin: auto;
  width: 82%;
  border-bottom: 1px solid #c3bbb9;
  display: flex;
  top: 1px;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  font-family: 'Vollkorn', serif;
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
  z-index: 1;
}

.DopMenu div{
  position: relative;
  font-size: 18px;
}

.DopMenu h4{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  border-bottom: 1px solid #c3bbb9;
}

.DopMenu ul{
  list-style: none;
  padding-left: 10px;
}

.DopMenu li{
  cursor:pointer;
  position: relative;
  margin-bottom: 10px;
  list-style: none;
}

.default-link-div{
  border-right: 1px solid #c3bbb9;
}


.description{
  position: relative;
  width: 80%;
  height: 600px;
  margin: auto;
  background-size: cover;
  top: 40px;
  z-index: -1;
  align-content: center;
  color: rgb(255, 255, 255);
}

.description img{
  position: relative;
  width: 100%;
}

.text{
  position: relative;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
  top: -530px;
  left: 30px;
}

.slogans{
  position: relative;
  width: 100%;
  height: 350px;
  background-color: rgb(245, 245, 245);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 80%;
  height: 70%;
  border: 1px solid #c3bbb9;
  background-size: 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat:no-repeat;
  z-index: 1;
  font-size: 45px;
  text-align: center;
}

.content a{
  position: relative;
  top: 40px;
  font-family: 'Brygada 1918', serif;
}

.a-btn{
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 60px;
  padding-top: 10px;
  font-size: 17px;
  border: 1px solid #c3bbb9;
  border-radius: 35px;
  background-color: rgb(136, 136, 136);
  color: rgb(255, 255, 255);
  width: 270px;
  height: 34px;
}

.a-btn:hover{
  background-color: rgb(145, 145, 145);
}

.ending{
  color: rgb(0, 0, 0);
}

.ways{
  font-family: 'Brygada 1918', serif;
  text-align: center;
  display: block;
}

.ways-text h4{
  font-size: 20px;
}

.ways-text h2{
  font-size: 40px;
  position: relative;
  top: -30px;
}

.types{
  position: relative;
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.types img{
  margin-bottom: 40px;
}


.a-discription{
  display: block;
  margin: auto;
  position: relative;
  width: 90%;
}

.download-wrapper{
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  height: 300px;
  top: 40px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-family: 'Brygada 1918', serif;
  font-size: 18px;
}

.download-wrapper h2{
  position: relative;
  padding-top: 50px;
  font-size: 50px;
}

.line{
  position: relative;
  top: -10px;
  width: 5%;
}

.a-description{
  position: relative;
  padding-top: 50px;

}


.a-btn2{
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 17px;
  border: 1px solid #c3bbb9;
  border-radius: 35px;
  background-color: rgb(136, 136, 136);
  color: rgb(255, 255, 255);
  width: 400px;
  height: 34px;
}

.a-btn2:hover{
  background-color: rgb(145, 145, 145);
}

.popular-wrapper{
  position: relative;
  top: 90px;
  width: 100%;
  height: 620px;
  margin-bottom: 160px;
  text-align: center;
}

.popular-wrapper a{
  font-family: 'Brygada 1918', serif;
  font-size: 50px;
}

.box-wrapper{
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  top: 60px;
  width: 80%;
  height: 100%;
  font-family: 'Brygada 1918', serif;
  font-size: 26px;
}
.box-wrapper div{
  width: 50%;
  height: 100%;
}

.box-wrapper img{
  position: relative;
  top: 40px;
  margin-bottom: 60px;
}

.box-wrapper a{
  margin-top: 10px;
  font-size: 20px;
}

.footer{
  position: relative;
  top: 150px;
  width: 100%;
  height: 510px;
  background-color: rgb(245, 245, 245);
  display: flex;
  z-index: -1;
}

.footer-wrapper{
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
  height: 80%;
}

.footer-links{
  display: flex;
  justify-content: space-between;
}

.footer-links img{
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.sosial-networks img {
  position: relative;
  margin-right: 5px;
  right: 40px;
}

.footer-contacts{
  position: relative;
  top: 20px;
  width: 100%;
  height: 280px;
  border-bottom: 1px solid #c3bbb9;
  border-top: 1px solid #c3bbb9;
  display: flex;
  justify-content:left;
  font-family: 'Brygada 1918', serif;
}

.left-contacts{
  position: relative;
  width: 40%;
  height: 100%;
  border-right: 1px solid #c3bbb9;
}

.footer-contacts h2{
  margin-top: 5px;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: 1px solid #c3bbb9;
}

.right-contacts{
  position: relative;
  width: 60%;
  height: 100%;
}

.right-contacts h2{
  position: relative;
}

.left-contacts div{
  position: relative;
  right:40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.left-contacts ul{
  list-style: none;
}

.right-contacts a{
  position: relative;
  display: block;
  text-align: center;
  width: 60%;
  margin: auto;
}

.right-contacts div{
  width: 100%;
  height: 100%;
}

.form{
  position: relative;
  top: 20px;
  left: 20%;
  width: 100%;
}

.form input{
    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: transparent;
    height: 40px;
    width: 40%;
    font-size: 16px;
    font-family: 'Brygada 1918', serif;
    margin: 0;
    flex-grow: 1;
    outline: none;
}

.form button{
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    border-radius: 0;
    margin: 0;
    height: 43px;
    padding: 0 15px;
    font-size: 14px;
    display: inline-block;
    font-family: 'Brygada 1918', serif;
    min-width: 120px;
}

.rights{
  position: relative;
  top: 40px;
  display: flex;
  justify-content: space-between;
}

.boxes-wrapper{
  font-family: 'Brygada 1918', serif;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
}

.customize-text{
  position: relative;
  text-align: center;
  font-family: 'Brygada 1918', serif;
}

.customize-text h1{
  font-size: 20px;
  margin-top: 40px;
}

.customize-text a{
  display: block;
  margin-bottom: 20px;
}

.customize-big-text{
  font-size: 60px;
  margin-bottom: 30px;
}

.customize-long-text{
  position: relative;
  margin: auto;
  width: 700px;
}

.unique-box-wrapper{
  font-family: 'Brygada 1918', serif;
  width: 100%;
}

.unique-top-text{
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: black;
}

.unique-top-text-a{
  color: black;
  padding-top: 35px;
  font-size: 40px;
  width: 60%;
  display: block;
}

.unique-top-text div{
  margin-top: 0px;
  height: 100%;
  border-left: 1px solid rgb(224, 224, 224);
  width: 20%;
  display: block;
}
.unique-top-text h2{
  color: black;
  font-size: 18px;
  display: block;
  margin-top: 55px;
}

.unique-customize{
  margin: auto;
  width: 80%;
  height: 300px;
  display: flex;
  height: 900px;
}

.unique-customize-left{
  width: 60%;
  height: 100%;
}

.unique-customize-right{
  width: 40%;
  height: 100%;
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(255, 255, 255);
  text-align: center;
  display: block;
}

.unique-customize-left-menu{
  display: flex;
  justify-content: space-between;
}

.unique-customize-left-menu div{
  text-align: center;
  align-items: center;
  height: 80px;
}

.unique-customize-left-menu-prise{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 25%;
}

.unique-customize-left-menu-qty{
  display: block;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 25%;
}

.unique-customize-left-menu-btn{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  width: 50%;
}

.unique-customize-left-menu-btn a{
  margin-top: 20px;
}
.unique-customize-left-menu-qty div{
  display: flex;
  justify-content: center;
}

.unique-customize-left-menu-img{
  width: 100%;
}

.unique-customize-left-menu-img{
  width: 100%;
  height: 600px;
  margin-bottom: 160px;
}

.unique-customize-left-menu-img img{
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 95%;
}
.unique-customize-left-menu-img-list{
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.unique-customize-left-menu-img-list a{
  cursor: pointer;
  width: 20%;
}

.unique-customize-left-menu-img-list img{
  width: 100%;
}

.unique-customize-left hr{
  margin-bottom: -30px;
  height: 1px;
  border: 0;
  width: 80%;
  background-color: rgb(224, 224, 224);
}

.unique-customize-right div{
    width: 80%;
    display: block;
    margin: auto;
    text-align: left;
    justify-content: left;
}

.unique-customize-right a{
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.unique-customize-left-menu-qty a{
  display: flex;
  width: 6%;
}

.unique-customize-left-menu-qty img{
  
  width: 100%;
}


